</article>

</div>
<script type="text/javascript" src="/component/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/component/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>