<%- include header%>

<form action="">
    用户名 : <input type="text" name ="name"/><br/>
    密&nbsp;&nbsp;码 : <input type="text" name="password"/><br/>
    确认密码 : <input type="text" name="password_repeat"/><br/>
    邮&nbsp;&nbsp;箱 : <input type="text" name="email"/><br/>
    <input type="submit" value="注册"/>
</form>

<%- include footer%>